@{
    Layout = null; // Set the layout to null if you don't want to use a shared layout
}

<!DOCTYPE html>
<html>

<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>F1 About</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico.png" />
</head>

<body>

    <div class="header">
        <a href="@Url.Action("Index", "Home")" class="logo">
            <!-- Use Razor syntax to generate URLs -->
            <img src="~/img/f1.png" alt="F1 Logo" class="logo-image">
            <b>F1 Championship</b>
        </a>
        <div class="header-right">
            <a class="active" href="@Url.Action("Index", "Home")">Home</a>
            <a href="@Url.Action("Teams", "Home")">Teams</a>
            <a href="@Url.Action("Drivers", "Home")">Drivers</a>
            <a href="@Url.Action("Leagues", "Home")">Drivers</a>
            <a href="@Url.Action("About", "Home")">About</a>
        </div>
    </div>

    <div class="container">
        <h1>About Us</h1>

        <div class="team-container">
            <!-- Team Member 1 -->
            <div class="team-member">
                <img src="~/img/saurabh.png" alt="Person 1">
                <h4>Saurabh Verma</h4>
                <p>MS - Business Analytics and Information Systems</p>
                <h4>Project Contribution</h4>
                <h5>Developed Backend</h5>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/saurabhjverma/" target="_blank"><img src="~/img/linkedin.png" alt="LinkedIn"></a>
                    <a href="https://github.com/imverma" target="_blank"><img src="~/img/github.png" alt="GitHub"></a>
                    <a href="mailto:vermas12@usf.edu" target="_blank"><img src="~/img/outlook.png" alt="Outlook"></a>
                </div>
            </div>

            <!-- Team Member 2 -->
            <div class="team-member">
                <img src="~/img/tushar.png" alt="Person 2">
                <h4>Tushar Chotlani</h4>
                <p>MS - Business Analytics and Information Systems</p>
                <h4>Project Contribution</h4>
                <h5>Developed Database Architecture</h5>
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/tushar-chotlani/" target="_blank"><img src="~/img/linkedin.png" alt="LinkedIn"></a>
                            <a href="https://github.com/TusharC21" target="_blank"><img src="~/img/github.png" alt="GitHub"></a>
                            <a href="mailto:tchotlani@usf.edu" target="_blank"><img src="~/img/outlook.png" alt="Outlook"></a>
                        </div>
            </div>

            <!-- Team Member 3 -->
            <div class="team-member">
                <img src="~/img/meet.png" alt="Person 3">
                <h4>Meet Vora</h4>
                <p>MS - Business Analytics and Information Systems</p>
                <h4>Project Contribution</h4>
                <h5>Developed Frontend</h5>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/meetavora/" target="_blank"><img src="~/img/linkedin.png" alt="LinkedIn"></a>
                    <a href="https://github.com/meetvorausf" target="_blank"><img src="~/img/github.png" alt="GitHub"></a>
                    <a href="mailto:meetashishvora@usf.edu" target="_blank"><img src="~/img/outlook.png" alt="Outlook"></a>
                </div>
            </div>

            <!-- Team Member 4 -->
            <div class="team-member">
                <img src="~/img/vinehs.png" alt="Person 4">
                <h4>Vinesh Sangoi</h4>
                <p>MS - Business Analytics and Information Systems</p>
                <h4>Project Contribution</h4>
                <h5>Developed Website Cloud Architecture</h5>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/vinesh-sangoi/" target="_blank"><img src="~/img/linkedin.png" alt="LinkedIn"></a>
                    <a href="https://github.com/vineshusf23" target="_blank"><img src="~/img/github.png" alt="GitHub"></a>
                    <a href="mailto:sangoiv@usf.edu" target="_blank"><img src="~/img/outlook.png" alt="Outlook"></a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <h1>Data Model</h1><br>
        <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            <img src="~/img/erd.png" style="max-width: 100%; max-height: 100%; height: auto; width: auto;">
        </div>
        <br>
        <div>
            <div> <a href="https://github.com/SaurabhV12/F1Championship_Website" target="_blank"><h1>Project Github Link</h1></a> </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="social-links">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
        <p>© 2024 F1 Championship. All rights reserved.</p>
    </footer>

</body>

</html>
